<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\tmp\IOtanabi.log"
      internalLogLevel="Warn" >
  <variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - "/>
  <variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>

  <targets> 
    <target xsi:type="File" name="logfile" fileName="c:\tmp\Otanabi.error.log" keepFileOpen="true" concurrentWrites="true"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring} | ${linePrefix}${message}${exceptionFormat}" />
    <target xsi:type="Console" name="logconsole"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
  </rules>
  
</nlog>